<nz-layout class="inner-layout">
    <nz-breadcrumb>
        <div nz-row>
            <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
              
                <nz-content>   
                    <h3>Optiuni firme</h3>               
                  <button nz-button nzType="default" nzBlock>Acceseaza firma ta</button>
                  <button nz-button nzType="default" nzBlock>Verifica o firma - national</button>
                  <button nz-button nzType="default" nzBlock>Verifica o firma - international</button>
                  <button nz-button nzType="default" nzBlock>Acceseaza portofoliu firme</button> 
                  <button nz-button nzType="default" nzBlock>Acceseaza BizZilla</button>
                  <button nz-button nzType="default" nzBlock>Acceseaza redBill</button>
                  <button nz-button nzType="default" nzBlock>Cauta o persoana in Asociatii si Administratori</button>
                  <button nz-button nzType="default" nzBlock>Cauta in Monitorul Oficial IV</button>
                  <button nz-button nzType="default" nzBlock>Cauta in BPI</button>
                  <h3>Optiuni dosare</h3>
                  <button nz-button nzType="default" nzBlock>Acceseaza dosare in instanta</button>
                  <button nz-button nzType="default" nzBlock>Acceseaza portofoliul de dosare</button>
                </nz-content>
                
                
            </div>
            
            <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
              
              <nz-content>
                    <h3>Abonament</h3>
                <br /><button nz-button [nzSize]="size" nzType="default">Default</button> <br />
              </nz-content>
            </div>
        </div>
    </nz-breadcrumb>
    
</nz-layout>

