.inner-layout {
    padding: 0 350px 304px;
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 380px;
  }
  
  nz-button {
    margin-right: 8px;
    margin-bottom: 12px;
    scroll-margin-top: 2px;
  }

  